/*general*/
html{
    width: 80vw;
    height: auto;
    text-justify: auto;
}

header
{
    text-align: right;
    font-family: 'tattoo ink';
    font-size: 40px;
    margin-top: 1em;
    margin-right: 0em;
    padding-right: 0em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.banniere{
    flex-basis: 40%;
    height: auto;
    justify-content: center;
}

.title-banniere{
    flex-basis: 60%;
    height: auto;
    display: flex;
    justify-content: end;
}

header img{
    width:100%;
    height: auto;
}


/* Police ecriture */
@font-face{
    font-family: 'tattoo ink';
    src: url("/SailorDogGalery/assets/font/TATTI_.TTF") format("ttf");
    font-family: 'cookie';
    src: url("/SailorDogGalery/assets/font/Cookie-Regular.ttf") format("ttf");
}
/* Police ecriture */
body{    
    width: 100%;
    height: auto;
    margin: 0 6em 0 6em;
}
/* Barre de Navigation */
nav{      
    position: sticky;
    top: 0px;    
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    height: auto;
    font-size: 1.5em;
    font-family: 'cookie';
    list-style-type: none;
}
.navtitle
{
    padding-right: 1.2em;
    padding-left: 1.2em;
    text-decoration: none;   
    height: auto;
    border-radius: 1px;
    color: black;
    background-color: rgba(165, 165, 165, 0.4);
} 
.nav1
{
    border-radius: 10px 0px 0px 0px;
}
.nav5
{
    border-radius: 0px 0px 10px 0px;
}
/*A propos de moi*/

#container1{    
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 6em;    
}
.title-container1
{
    flex-basis: 100%;
    height: auto;
    font-family: 'Cookie';
    font-size: 2em;
    margin-bottom: 1em;
    padding-left: 1em;
    background-color: rgba(165, 165, 165, 0.4);
    border-radius: 10px 0 10px 0;
}
.img-container1{
    flex-basis: 30%;
    height: auto;
    padding-top: 2em;
}
.img-container1 img{
    width: 100%;
    height: auto;
}
.text-container1
{
    flex-basis: 70%;
    height: auto;
    font-family: 'Cookie';
    font-size: 25px;
    text-align: center;    
}
.text-container1 p
{
    padding: 1em 1.3em 0 1.3em;
}
/*Galerie*/

#container2{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top:10em;
}
.title-container2 {
    flex-basis: 100%;
    height: auto;
    font-family: Cookie;
    font-size: 2em;
    margin-bottom: 1em;
    padding-left: 1em;
    background-color: rgba(165, 165, 165, 0.4);
    border-radius: 10px 0 10px 0;
}
.zoom{
    width: 190px;
    height: 190px;
}
.image{
    flex-basis: 100%;
    height: auto;
    padding:1em;

}
.image img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.image:hover img {
    /* L'image est grossie x 2.75 */
    -webkit-transform:scale(2.75); /* Safari et Chrome */
    -moz-transform:scale(2.75); /* Firefox */
    -ms-transform:scale(2.75); /* Internet Explorer 9 */
    -o-transform:scale(2.75); /* Opera */
    transform:scale(2.75);
    }

/*Produit*/

#container3{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top:10em;
}

.title-container3
{
    flex-basis: 100%;
    height: auto;
    font-family: 'Cookie';
    font-size: 2em;
    margin-bottom: 1em;
    padding-left: 1em;
    background-color: rgba(165, 165, 165, 0.4);
    border-radius: 10px 0 10px 0;
}

.img-container3{
    flex-basis: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    padding-top: 2em;
}
.goonies1{
    flex-basis: 23%;
    height: auto;
}

.goonies2{
    flex-basis: 23%;
    height: auto;
}

.goonies3{
    flex-basis: 23%;
    height: auto;
}

.goonies4{
    flex-basis: 23%;
    height: auto;
}

.goonies1 img , .goonies2 img , .goonies3 img , .goonies4 img{
    width: 100%;
    height: auto;
}

/*Contact*/
#container4{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #e71212;
    margin-top:10em;
}

/*liens*/
#container5{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #d8168d;
    margin-top:10em;
}
/*footer*/

