/*general*/
html{
    width: 80vw;
    height: auto;
}

body{
    width: 100%;
    height: auto;
    margin: 0 6em 0 8em;
    background-color: gainsboro;
}
/*header*/

/*main*/

/*A propos de moi*/

#container1{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f0f0f0;
    margin-top: 6em;
}

.title-container1{
    flex-basis: 100%;
    height: auto;
    font-family: 'Indie Flower', cursive;
    font-size: 2em;
    margin-bottom: 1em;
}

.img-container1{
    flex-basis: 30%;
    height: auto;
    padding-top: 2em;
}

.img-container1 img{
    width: 100%;
    height: auto;
}


.text-container1{
    flex-basis: 70%;
    height: auto;
    text-align: center;
}

.text-container1 p{
    padding: 1em 1.3em 0 1.3em;
    
}

/*Galerie*/

#container2{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #3cc01b;
    margin-top:10em;
}

.title-container2{
    flex-basis: 100%;
    height: auto;
}

.zoom{
    width: 120px;
    height: 160px;
}
.image{
    flex-basis: 100%;
    height: auto;
    background-color: tomato;
}
.image img{
    width: 100%;
    height: auto;
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.image:hover img {
    /* L'image est grossie de 25% */
    -webkit-transform:scale(1.75); /* Safari et Chrome */
    -moz-transform:scale(1.75); /* Firefox */
    -ms-transform:scale(1.75); /* Internet Explorer 9 */
    -o-transform:scale(1.75); /* Opera */
    transform:scale(1.75);
    }



/*Produit*/

#container3{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #7324db;
    margin-top:10em;
}

/*Contact*/
#container4{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #e71212;
    margin-top:10em;
}

/*liens*/
#container5{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #d8168d;
    margin-top:10em;
}
/*footer*/

